/* The following webpage can be viewed as intended from 67%+ of the browser size.
Anything smaller will unfortunately cause the side bar section to warp */

* {
    box-sizing: border-box;
  }

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin: 60px 60px 60px 60px;
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 25%;
}

nav > img {
    opacity: 0.4;
    height: 30rem;
    width: 20rem;
    max-height: 5%;
    max-width: 80%;
}

nav > div {
    color: #E4E4E4;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 5px;
    align-items: center;

}

.bottom-links {
    color: #dedcdc;
    letter-spacing: 1px;
    margin-top: 10px;
}

body > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr 2.7fr;
    grid-gap: 60px;
    grid-template-areas: 
        "main"
        "middle"
        "lower";
    width: 100%;
    margin-left: 10%;
}

.main {
    grid-area: main;
    width: 100%;
    height: auto;
}

.middle, .lower {
    display: flex;
    grid-column-gap: 60px;
    justify-content: space-evenly;
}

.middle {
    grid-area: middle;
    height: 100%;
}

.lower {
    grid-area: lower;
    height: 90%;
}

